vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
# Builds
*.apk
*.aab
*.app
LICENSE.meta
README.md.meta
version.txt.meta
.github
FUNDING.yml.meta
README.md.meta
Ressources.meta
Scripts.meta
package.json.meta
Editor.meta
Prefabs.meta
Prefabs.meta
